*{
    color: cadetblue;
    font-size: 24px;
}
img{
    width: 50%;
    height: 50%;
    transition: 1.5s;
}
h3{
    user-select: none;
}
input:checked ~ img{
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;
}
p{
    
    font-size: 20px;
}
#line_4{
    color: purple;
}
#line_5{
    color: green;
}
.demo{
    color: blue;
}